<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title black">Driver Information:</h4>
          <br>
          <p style="display: none"><strong>Driver ID</strong>: <span id="driver-id">{{driver.id}}</span></p>
          <p><strong>Driver Name</strong>: {{driver.driverName}}</p>
          <p><strong>Vehicle Description</strong>: {{driver.YMM}}</p>
          <p><strong>Leaving From</strong>: {{driver.departAddress}}</p>
          <p><strong>Departure Time</strong>: {{driver.departTime}}</p>
          <p><strong>Number of Seats Available</strong>: <span id="seats">{{driver.numSeats}}</span></p>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title black">Reserve this Driver:</h4>
          <br>
          <h5>Select the Number of Seats You Need:</h5>
          <select id="seat-picker">

          </select>
          <button id="reserve-button">Book This Ride!</button>
        </div>
      </div>
      <a href="/passengers">← Back To List</a>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
  var numSeats;
  createOptions();
  function createOptions(){
  var seats = $("#seats");
  numSeats = parseInt(seats[0].innerText);
  for (i=0; i<numSeats; i++){
    var option = $("<option>", {id: i+1, value: i+1});
    option.text(i+1);
    $("#seat-picker").append(option);
  }};

  $("#reserve-button").on("click", function(){
    var needSeats= $("#seat-picker").val();
    console.log(needSeats)
  });
  
</script>